<div class="row">
    <div class="col-md-5 col-sm-5">
        <div class="promotion-banner style-1">
            <%= link_to image_tag('/hksite/images/home1/banner-1.jpg', alt: '', title: ''), '', title: '', class: 'banner-img' %>
        </div>
    </div>
    <div class="col-md-7 col-sm-7">
        <div class="promotion-banner style-1">
            <%= link_to image_tag('/hksite/images/home1/banner-2.jpg', alt: '', title: ''), '', title: '', class: 'banner-img' %>
        </div>
    </div>
</div>