<div class="modal fade" id="popup-newsletter" tabindex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span></button>
            <div class="block-newletter-popup">
                <div class="block-content">
                    <p class="text-popup-primary">25% <br>Discount</p>
                    <p class="text-des">on your next purchase</p>
                    <p class="text-italic">minimum purchase $100.00 (Without Tax)</p>
                    <p class="text-your-email">Enter your email blow and get your voucher</p>
                    <div class="newsletter-form">
                        <form id="newsletter-validate-detail" class="form subscribe">
                            <div class="control">
                                <input type="email" id="newsletter" placeholder="Enter your email address..." name="email" class="input-subscribe">
                                <button type="submit" title="Subscribe" class="btn subscribe">
                                    <span>Subscribes</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <ul class="checkbox-popup">
                <li><label class="inline" ><input type="checkbox"><span class="input"></span>Don’t show this popup again</label></li>
            </ul>                   
        </div>
    </div>
</div>