<div class="promotion-banner box-single style-2">
    <%= link_to image_tag('/hksite/images/surfacebook-banner.png', alt: 'Máy Tính Xách Tay Microsoft Surface Book Core i7/ Ram 8GB/ SSD 256GB'),
        'http://store.hoangkhang.com.vn/san-pham/may-tinh-xach-tay-microsoft-surface-book-core-i7-ram-8gb-ssd-256gb-4386.html',
        title: 'Máy Tính Xách Tay Microsoft Surface Book Core i7/ Ram 8GB/ SSD 256GB', class: 'banner-img' %>    
</div>