.video_wrap > iframe, .proportional_frame > iframe {
    height: 250px;
}
.proportional_frame {
    padding-bottom: 50%;
}
.info-contact {
    padding-bottom: 15px;
}
table > *:last-child > tr:last-child th, table > *:last-child > tr:last-child td {
    text-align: center;
}
.product_qty_col {
    width: 162px;
}
.display_inline {
    display: inline;
}
.qty > input[type="text"] {
    width: calc(100% - 76px);
}
.min {
    width: 124px;
}
.font-small {
    font-size: 12px;
}
.social_feeds .proportional_frame {
    margin: 15px 0 145px;
}
.label_highlights {
    background: #ff0000;
}
.search > * {
    border-left: 2px solid #4ac4fa !important;
}
table > *:last-child > tr:last-child th, table > *:last-child > tr:last-child td {
    text-align: left;
}
input:not([type="submit"]), textarea, .active_option {
    height: 38px;
}
.pagination > li{ float: left; }
.pagination > li:first-child > span{ border-radius: 3px 0 0 3px; }
.pagination > li:first-child > span::before {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 13px;
    font-family: 'fontello';	
}
.pagination > li > a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.pagination > li > span {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    border: 1px solid #eaeaea;
    background: #fff;
}
.pagination > li.active > span,
.pagination > li > a:hover{
    color: #fff;
    background: #4ac4fa;
    border-color: #4ac4fa;
}
select {
    padding: 9.5px 8px;
}
.search_category {
    width: 208px;
}
.search input {
    width: calc(100% - 258px);
}
.section_offset .layerslider {
    border: 2px solid #b2b2b2;
}
.not_found_404 {
    font-size: 94px;
}
.not_found {
    font-size: 26px;
}
.margin-contact {
    margin-bottom: 10px;
}
.partner_item {
    width: 108px;
    height: 85px;
    float: left;
    margin: 4px 4px 4px 0;
}
.centered_item {
    margin: 0;
    position: absolute;
    /* width: 20px; */
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.centered_list {
    margin: 0;
    position: absolute;
    /* width: 20px; */
    top: 50%;
    left: 81%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 5px;
}
.partner_list {
    width: 180px;
    height: 150px;
    position: relative;
    display: block;
    margin: -20px -20px 0px;
    padding: 20px 20px 10px;
}
.product_image {
    max-height: 245px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
.product_list_height {
    height: 245px;
}
.details_product_image {
    max-height: 212px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}
.details_product_list_height {
    height: 212px;
}
.main_image {
    width: 360px;
    height: 360px;
}
.product_main {
    max-height: 340px;
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.safe_off {
    color: #ff0000;
}