<ul class="nav-top-right krystal-nav">
    <li>
        <span class="top-call">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <%= link_to '(028) 3984 7690', 'tel:02839847690', title: 'Gọi cho chúng tôi' %>
        </span>
    </li>
    <li>
        <%= link_to image_tag('/hksite/images/flags/vietnam.png', title: 'Ngôn ngữ hiển thị: Tiếng Việt') + ' Tiếng Việt',
                              'javascript:void(0)', title: 'Ngôn ngữ hiển thị: Tiếng Việt' %>
    </li>    
</ul>