<ul class="header-nav krystal-nav">
    <li class="btn-close hidden-md">
        <i class="fa fa-times" aria-hidden="true"></i>
    </li>
    <% Menu.get_menus.each do |menu| %>
        <% menu_count = menu.children.count %>
        <% if menu_count == 1 %>
            <%= render '/modules/header/menu/children_1', menu: menu %>
        <% end %>
        <% if menu_count == 3 %>
           <%= render '/modules/header/menu/children_3', menu: menu %>
        <% end %>
        <% if menu_count == 4 %>
           <%= render '/modules/header/menu/children_4', menu: menu %>
        <% end %>
    <% end %>
    <li><%= link_to 'THÔNG TIN LIÊN HỆ', contact_path, title: 'Thông Tin Liên Hệ', class: 'parent-menu' %></li>
</ul>