<ul class="nav-top-left krystal-nav" >
    <li><%= link_to 'Trang Chủ', root_path, title: 'Website Bán Hàng Công Ty TNHH Giải Pháp CNTT và TT Hoàng Khang' %></li>
    <li><%= link_to 'Giới Thiệu', about_us_path, title: 'Giới Thiệu' %></li>
    <li><%= link_to 'Tin Tức', blog_listing_path, title: 'Tin Tức' %></li>
    <li><%= link_to 'Góp Ý & Liên Hệ', contact_path, title: 'Góp Ý & Liên Hệ' %></li> 
</ul>