<ul class="nav-top-left krystal-nav" >
    <li><%= link_to 'TRANG CHỦ', root_path, title: 'Website Bán Hàng Công Ty TNHH Giải Pháp CNTT và TT Hoàng Khang' %></li>
    <li><%= link_to 'GIỚI THIỆU', about_us_path, title: 'Giới Thiệu' %></li>
    <li><%= link_to 'TIN CÔNG NGHỆ', blog_listing_path, title: 'Tin Tức' %></li>
    <li><%= link_to 'GÓP Ý & LIÊN HỆ', contact_path, title: 'Góp Ý & Liên Hệ' %></li> 
</ul>