<span data-action="toggle-nav" class="menu-on-mobile hidden-md style2">
    <span class="btn-open-mobile home-page">
        <span></span>
        <span></span>
        <span></span>
    </span>
    <span class="title-menu-mobile">MENU CHÍNH</span> 
</span>