<div class="block-search">
    <div class="block-content autosearch" data-url="<%= autosearch_path %>">
        <%= form_tag(product_search_path, method: "get") do %>
            <div class="categori-search  ">
                <select name="category_id" data-placeholder="Tất cả chuyên mục" class="chosen-select categori-search-option">
                    <option value="">Chuyên mục</option>
                    <% menus.each do |menu| %>
                    <option value="<%= menu.id %>"><%= menu.title %></option>
                    <% end %>
                </select>
            </div>
            <div class="form-search">
                <div class="box-group">
                    <input name="search" type="text" class="form-control autosearch-input" placeholder="Nhập từ khóa tìm sản phẩm...">
                    <input type="submit" value="TÌM KIẾM" class="btn btn-search" type="button" style="padding: 0" />
                </div>
            </div>
        <% end %>
    </div>
</div>
