<main class="site-main contact-us finish-checkout">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to 'Trang Chủ', root_path %></li>
            <li class="active"><%= link_to 'Đặt Hàng Thành Công', 'javascript:void(0)' %></li>
        </ol>
    </div>

    <div class="container">
        <div class="row">
            <div class="contact-map full-width">
                <a href=""><img src="/hksite/images/map.jpg" alt="map"></a>
            </div>            
        </div>
    </div>
</main>