<li><%= link_to "Xem đơn hàng", { controller: "shopping_cart", action: "index" } %></li>
<li><%= link_to "Đặt hàng", { controller: "check_out", action: "index" } %></li>
<li><%= link_to "Quy trình và chính sách mua hàng", { controller: "infomations", action: "policy" } %></li>