<li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
<!--<li><a href="#">Thông tin giao hàng</a></li>
<li><a href="#">Chính sách riêng tư</a></li>
<li><a href="#">Điều khoản &amp; Các điều kiện</a></li>-->
<li><%= link_to "Tin tức", { controller: "blog", action: "index" } %></li>
<li><%= link_to "Đối tác", { controller: "manufacturer", action: "index" } %></li>
<li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>