<li><a href="#">Giới thiệu</a></li>
<li><a href="#">Thông tin giao hàng</a></li>
<li><a href="#">Chính sách riêng tư</a></li>
<li><a href="#">Điều khoản &amp; Các điều kiện</a></li>
<li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>