<ul class="social_feeds">

    <!-- - - - - - - - - - - - - - Contact us - - - - - - - - - - - - - - - - -->

    <li>

        <button class="icon_btn middle_btn social_contact open_"><i class="icon-mail-8"></i></button>

        <section class="dropdown">

            <div class="animated_item">

                <h3 class="title">Liên hệ</h3>

            </div><!--/ .animated_item-->
             
            <div class="animated_item">

                <p class="form_caption">Nhập nội dung thông tin cần liên hệ.</p>

                <form class="contactform" novalidate>

                    <ul>

                        <li class="row">

                            <div class="col-xs-12">

                                <input type="text" required title="Tên" name="cf_name" placeholder="Tên">

                            </div>

                        </li>

                        <li class="row">

                            <div class="col-xs-12">

                                <input type="email" required title="Địa chỉ" name="cf_email" placeholder="Địa chỉ">

                            </div>

                        </li>

                        <li class="row">

                            <div class="col-xs-12">

                                <textarea placeholder="Lời nhắn" required title="Lời nhắn" name="cf_message" rows="6"></textarea>

                            </div>

                        </li>
                        
                        <li class="row">

                            <div class="col-xs-12">

                                <button class="button_grey middle_btn">Gửi</button>

                            </div>

                        </li>

                    </ul>

                </form>

            </div><!--/ .animated_item-->

        </section><!--/ .dropdown-->

    </li>

    <!-- - - - - - - - - - - - - - End contact us - - - - - - - - - - - - - - - - -->

    <!-- - - - - - - - - - - - - - Google map - - - - - - - - - - - - - - - - -->

    <li>

        <button class="icon_btn middle_btn social_gmap open_"><i class="icon-location-4"></i></button>

        <!--Location-->

        <section class="dropdown">

            <div class="animated_item">

                <h3 class="title">Vị trí công ty</h3>

            </div><!--/ .animated_item-->
             
            <div class="animated_item">
                
                <p class="c_info_location">188 Đường số 1,<br>Phường 16, Quận Gò Vấp, TP.Hồ Chí Minh, Việt Nam</p>

                <div class="proportional_frame">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.6314333279466!2d106.65737582916685!3d10.847560316658372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDUwJzUxLjIiTiAxMDbCsDM5JzI4LjUiRQ!5e0!3m2!1svi!2s!4v1452314397801" style="border:0" allowfullscreen></iframe>
                
                </div>

                <ul class="c_info_list">

                    <li class="c_info_phone">(84-8) 3984 7690</li>
                    <li class="c_info_mail"><a href="mailto:info@hoangkhang.com.vn">info@hoangkhang.com.vn</a></li>
                    <li class="c_info_schedule">

                        <ul>

                            <li>Thứ 2-Thứ 6: 7.30-17.00</li>
                            <li>Thứ 7: 7.30-12.00</li>
                            <li>Chủ nhật: Không làm việc</li>

                        </ul>

                    </li>

                </ul>

            </div><!--/ .animated_item-->

        </section><!--/ .dropdown-->
    
    </li>

    <!-- - - - - - - - - - - - - - End google map - - - - - - - - - - - - - - - - -->

</ul>