<!-- - - - - - - - - - - - - - Support - - - - - - - - - - - - - - - - -->

    <section class="section_offset animated transparent" data-animation="fadeInDown">

        <h3>HỖ TRỢ KHÁCH HÀNG</h3>

        <footer class="bottom_box">
            
            <p><b>Hỗ trợ chung: </b><a href="tel:<%= @company_info.phone %>"><%= @company_info.phone %></a>
                
                <ul class="c_info_list">
                    <li class="c_info_mail"><a href="mailto:kinhdoanh@hoangkhang.com.vn">kinhdoanh@hoangkhang.com.vn</a></li>
                </ul>
                
            </p>
            <p>
                <b>Kinh doanh 1:</b></br>
                <a title="Ms. Hằng" href="ymsgr:SendIM?kinhdoanhhoangkhang">
                    <img border="0" style="max-width: 50%;" src="http://mail.opi.yahoo.com/online?u=kinhdoanhhoangkhang&amp;m=g&amp;t=2">
                </a>
                <a title="Ms. Hằng" class="skype" href="skype:hard.sy?chat"><img src="/images/skype.jpg" border="0" alt=""></a>
            </p>
            <p>
                <b>Kinh doanh 2: </b></br>
                <a title="Mr. Thanh" href="ymsgr:SendIM?vqthanh92kbgl">
                    <img border="0" style="max-width: 50%;" src="http://mail.opi.yahoo.com/online?u=vqthanh92kbgl&amp;m=g&amp;t=2">
                </a>
                <a title="Mr. Thanh" class="skype" href="skype:vqthanh92kbgl?chat"><img src="/images/skype.jpg" border="0" alt=""></a>
            </p>

        </footer>

    </section><!--/ .section_offset.animated.transparent-->

    <!-- - - - - - - - - - - - - - End of support - - - - - - - - - - - - - - - - -->