<div class="block-recent-view">
    <div class="container">
        <div class="title-of-section">Sản Phẩm Bán Chạy</div>
        <%= render '/modules/bestselling' %>
    </div>
</div>

<%= javascript_include_tag '/hksite/js/function.js' %>
