<div class="block-section-4">
    <div class="container">
        <div class="title-of-section">SẢN PHẨM NỔI BẬT</div>
        <div class="tab-product tab-product-fade-effect">
            <%= render '/modules/home/hot_products' %>
        </div>
    </div>
</div>