<div class="block-section-5">
  <div class="full-width background-section-5">
       <div class="container">
           <div class="title-of-section style2">XẢ KHO HÀNG TỒN</div>
           <div class="tab-product tab-product-fade-effect">
               <%= render '/modules/home/stock_inventory' %>
           </div>
       </div>
  </div>
</div>