<footer id="footer">

				<div class="container">

					<!-- - - - - - - - - - - - - - Infoblocks - - - - - - - - - - - - - - - - -->

					<div class="infoblocks_container">

						<ul class="infoblocks_wrap">

							<li>
								<a href="#" class="infoblock type_1">

									<i class="icon-paper-plane"></i>
									<span class="caption"><b>Giao hàng nhanh & miễn phí</b></span>

								</a><!--/ .infoblock-->
							</li>

							<li>
								<a href="#" class="infoblock type_1">

									<i class="icon-lock"></i>
									<span class="caption"><b>Thanh toán An toàn & Bảo mật</b></span>

								</a><!--/ .infoblock-->
							</li>

							<li>
								<a href="#" class="infoblock type_1">

									<i class="icon-money"></i>
									<span class="caption"><b>Hoàn trả 100%</b></span>

								</a><!--/ .infoblock-->
							</li>

						</ul><!--/ .infoblocks_wrap.section_offset.clearfix-->

					</div><!--/ .infoblocks_container -->
						
					<!-- - - - - - - - - - - - - - End of infoblocks - - - - - - - - - - - - - - - - -->

				</div><!--/ .container -->

				<!-- - - - - - - - - - - - - - Footer section- - - - - - - - - - - - - - - - -->

				<div class="footer_section">

					<div class="container">

						<div class="row">

							<div class="col-md-3 col-sm-6">

								<!-- - - - - - - - - - - - - - About us widget- - - - - - - - - - - - - - - - -->

								<section class="widget">

									<h4>Giới thiệu</h4>

									<p class="about_us">Công Ty TNHH Giải Pháp Công Nghệ Thông Tin & Truyền Thông Hoàng Khang (Hoang Khang Incotech) xin gửi đến Quý khách hàng đã – đang và sẽ là niềm tự hào của công ty Hoàng Khang lời chúc sức khỏe và lời chào trân trọng.</p>

									<!-- - - - - - - - - - - - - - Social icon's list - - - - - - - - - - - - - - - - -->

									<ul class="social_btns">

										<li>
											<a href="#" class="icon_btn middle_btn social_facebook tooltip_container"><i class="icon-facebook-1"></i><span class="tooltip top">Facebook</span></a>
										</li>

										<li>
											<a href="#" class="icon_btn middle_btn  social_twitter tooltip_container"><i class="icon-twitter"></i><span class="tooltip top">Twitter</span></a>
										</li>

										<li>
											<a href="#" class="icon_btn middle_btn social_googleplus tooltip_container"><i class="icon-gplus-2"></i><span class="tooltip top">Google+</span></a>
										</li>

										<li>
											<a href="#" class="icon_btn middle_btn social_youtube tooltip_container"><i class="icon-youtube"></i><span class="tooltip top">Youtube</span></a>
										</li>

									</ul>
									
									<!-- - - - - - - - - - - - - - End social icon's list - - - - - - - - - - - - - - - - -->

								</section>
								
								<!-- - - - - - - - - - - - - - End of about us widget - - - - - - - - - - - - - - - - -->

							</div><!--/ [col]-->

							<div class="col-md-2 col-sm-6">

								<!-- - - - - - - - - - - - - - Information widget - - - - - - - - - - - - - - - - -->

								<section class="widget">

									<h4>Thông tin</h4>

									<ul class="list_of_links">

										<li><a href="#">Giới thiệu</a></li>
										<li><a href="#">Thông tin giao hàng</a></li>
										<li><a href="#">Chính sách riêng tư</a></li>
										<li><a href="#">Điều khoản &amp; Các điều kiện</a></li>
										<li><a href="#">Liên hệ</a></li>

									</ul>

								</section><!--/ .widget-->
								
								<!-- - - - - - - - - - - - - - End of information widget - - - - - - - - - - - - - - - - -->
							
							</div><!--/ [col]-->

							<div class="col-md-2 col-sm-6">

								<!-- - - - - - - - - - - - - - Extras widget - - - - - - - - - - - - - - - - -->

								<section class="widget">

									<h4>Thông tin phụ</h4>

									<ul class="list_of_links">

										<li><a href="#">Thương hiệu</a></li>
										<li><a href="#">Phiếu quà tặng</a></li>
										<li><a href="#">Đại lý</a></li>
										<li><a href="#">Đặc biệt</a></li>
										<li><a href="#">Khuyến mãi</a></li>

									</ul>

								</section><!--/ .widget-->

								<!-- - - - - - - - - - - - - - End of extras widget - - - - - - - - - - - - - - - - -->

							</div><!--/ [col]-->

							<div class="col-md-2 col-sm-6">

								<!-- - - - - - - - - - - - - - My account widget - - - - - - - - - - - - - - - - -->

								<section class="widget">

									<h4>Tài khoản</h4>

									<ul class="list_of_links">

										<li><a href="#">Tài khoản của tôi</a></li>
										<li><a href="#">Lịch sử đặt hàng</a></li>
										<li><a href="#">Hàng trả về</a></li>
										<li><a href="#">Sản phẩm yêu thích</a></li>
										<li><a href="#">Nhận tin tức mới</a></li>

									</ul>

								</section><!--/ .widget-->

								<!-- - - - - - - - - - - - - - End my account widget - - - - - - - - - - - - - - - - -->

							</div>

							<div class="col-md-3 col-sm-6">

								<!-- - - - - - - - - - - - - - Blog widget - - - - - - - - - - - - - - - - -->

								<section class="widget">

									<h4>Tin tức mới</h4>

									<ul class="list_of_entries">

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<li>
												
											<article class="entry">
												
												<!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

												<a href="#" class="entry_thumb">

													<img src="images/product-iphone6s.jpg" alt="" width="83" height="53">

												</a>

												<!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

												<div class="wrapper">

													<h6 class="entry_title"><a href="#">Iphone 6S Plus</a></h6>

													<!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

													<div class="entry_meta">

														<span><i class="icon-calendar"></i> 21-12-2015 16:00:00</span>

													</div><!--/ .entry_meta-->

													<!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

												</div><!--/ .wrapper-->

											</article><!--/ .clearfix-->

										</li>

										<!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<li>
												
											<article class="entry">
												
												<!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

												<a href="#" class="entry_thumb">

													<img src="images/product-iphone6s.jpg" alt="" width="83" height="53">

												</a>

												<!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

												<div class="wrapper">

													<h6 class="entry_title"><a href="#">Iphone 6S Plus</a></h6>

													<!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

													<div class="entry_meta">

														<span><i class="icon-calendar"></i> 21-12-2015 16:00:00</span>

													</div><!--/ .entry_meta-->

													<!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

												</div><!--/ .wrapper-->

											</article><!--/ .clearfix-->

										</li>

										<!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

										<!-- - - - - - - - - - - - - - Entry - - - - - - - - - - - - - - - - -->

										<li>
												
											<article class="entry">
												
												<!-- - - - - - - - - - - - - - Thumbnail - - - - - - - - - - - - - - - - -->

												<a href="#" class="entry_thumb">

													<img src="images/product-iphone6s.jpg" alt="" width="83" height="53">

												</a>

												<!-- - - - - - - - - - - - - - End of thumbnail - - - - - - - - - - - - - - - - -->

												<div class="wrapper">

													<h6 class="entry_title"><a href="#">Iphone 6S Plus</a></h6>

													<!-- - - - - - - - - - - - - - Byline - - - - - - - - - - - - - - - - -->

													<div class="entry_meta">

														<span><i class="icon-calendar"></i> 21-12-2015 16:00:00</span>

													</div><!--/ .entry_meta-->

													<!-- - - - - - - - - - - - - - End of byline - - - - - - - - - - - - - - - - -->

												</div><!--/ .wrapper-->

											</article><!--/ .clearfix-->

										</li>

										<!-- - - - - - - - - - - - - - End of entry - - - - - - - - - - - - - - - - -->

									</ul>

								</section><!--/ .widget-->

								<!-- - - - - - - - - - - - - - End of blog widget - - - - - - - - - - - - - - - - -->

							</div><!--/ [col]-->

						</div><!--/ .row-->

					</div><!--/ .container -->

				</div><!--/ .footer_section_2-->

				<!-- - - - - - - - - - - - - - End footer section- - - - - - - - - - - - - - - - -->

				<hr>

				<!-- - - - - - - - - - - - - - Footer section - - - - - - - - - - - - - - - - -->

				<div class="footer_section_3 align_center">

					<div class="container">

						<!-- - - - - - - - - - - - - - Payments - - - - - - - - - - - - - - - - -->

						<ul class="payments">

							<li><img src="images/payment_1.png" alt=""></li>
							<li><img src="images/payment_2.png" alt=""></li>
							<li><img src="images/payment_3.png" alt=""></li>
							<li><img src="images/payment_4.png" alt=""></li>
							<li><img src="images/payment_5.png" alt=""></li>
							<li><img src="images/payment_6.png" alt=""></li>
							<li><img src="images/payment_7.png" alt=""></li>
							<li><img src="images/payment_8.png" alt=""></li>

						</ul>
						
						<!-- - - - - - - - - - - - - - End of payments - - - - - - - - - - - - - - - - -->

						<!-- - - - - - - - - - - - - - Footer navigation - - - - - - - - - - - - - - - - -->

						<nav class="footer_nav">

							<ul class="bottombar">

								<li><a href="#">Thiết Bị Tin Học</a></li>
								<li><a href="#">Thiết Bị Văn Phòng</a></li>
								<li><a href="#">Thiết Bị Hệ Thống Mạng</a></li>
								<li><a href="#">Thiết Bị Viễn Thông</a></li>
								<li><a href="#">An Ninh Kiểm Soát</a></li>

							</ul>

						</nav>
						
						<!-- - - - - - - - - - - - - - End of footer navigation - - - - - - - - - - - - - - - - -->

						<p class="copyright">
							Bản quyền &copy; 2015 thuộc về <a href="index.html">Hoàng Khang Incotech</a><br/>
							Thiết kế bởi Hoàng Khang Incotech
						</p>

					</div><!--/ .container -->

				</div><!--/ .footer_section-->

				<!-- - - - - - - - - - - - - - End footer section - - - - - - - - - - - - - - - - -->

			</footer>