<div id="main_navigation_wrap">

      <div class="container">
      
          <div class="row">
      
              <div class="col-xs-12">
      
                  <nav class="full_width_nav main_navigation">
      
                      <ul>
                          
                        <% @menu.each do |item| %>
                            
                              <% if item.level == 1 %>
                                  
                                  <li class="animated_item"><a href="#"><%= item.title %></a></li>
                                  
                              <% end %>
                          
                          <% end %>
      
                      </ul>
      
                  </nav><!--/ .main_navigation-->
      
              </div><!--/ [col]-->
      
          </div><!--/ .row-->
      
      </div><!--/ .container-->
      
      </div><!--/ .main_navigation_wrap-->