<div class="top_part">

  <div class="container">

      <div class="row">

          <div class="col-lg-6 col-md-7 col-sm-8">

              <!-- - - - - - - - - - - - - - Navigation of shop - - - - - - - - - - - - - - - - -->

              <nav>

                  <ul class="topbar">

                      <li><%= link_to "Trang chủ", root_path %></li>
                      <li><%= link_to "Giới thiệu", { controller: "about_us", action: "index" } %></li>
                      <li><a href="#">Khuyến mãi</a></li>
                      <li><a href="#">Tài khoản</a></li>
                      <li><a href="#">Hướng dẩn</a></li>
                      <li><%= link_to "Liên hệ", { controller: "contact", action: "index" } %></li>
                      
                  </ul>

              </nav>

              <!-- - - - - - - - - - - - - - End navigation of shop - - - - - - - - - - - - - - - - -->

          </div> <!--/ [col]-->

          <div class="col-lg-6 col-md-5 col-sm-4">

              <div class="clearfix">

                  <!-- - - - - - - - - - - - - - Language change - - - - - - - - - - - - - - - - -->

                  <div class="alignright site_settings">

                      

                  </div><!--/ .alignright.site_settings-->

                  <!-- - - - - - - - - - - - - - End of language change - - - - - - - - - - - - - - - - -->
                  
                  <!-- - - - - - - - - - - - - - Currency change - - - - - - - - - - - - - - - - -->

                  <div class="alignright site_settings currency">

                      

                  </div><!--/ .alignright.site_settings.currency-->

                  <!-- - - - - - - - - - - - - - End of currency change - - - - - - - - - - - - - - - - -->

              </div><!--/ .clearfix-->

          </div><!--/ [col]-->

      </div><!--/ .row-->

  </div><!--/ .container -->

</div><!--/ .top_part -->