<main class="site-main contact-us finish-contact">
    <div class="container">
        <ol class="breadcrumb-page">
            <li><%= link_to 'Trang Chủ', root_path %></li>
            <li><%= link_to 'Liên Hệ', contact_path %></li>
            <li class="active"><%= link_to 'Gửi Lời Nhắn Thành Công', 'javascript:void(0)' %></li>
        </ol>
    </div>

    <div class="container">
        <div class="row">
            <div class="contact-success full-width">
                <%= image_tag '/hksite/images/map.jpg', alt: '' %>
            </div>            
        </div>
    </div>
</main>