<h3 class="title-of-section">THÔNG TIN CÔNG TY</h3>
<div class="contacts">
    <h3 class="contacts-title">Tên công ty</h3>
    <span class="contacts-info">Công Ty TNHH Giải Pháp Công Nghệ Thông Tin Và Truyền Thông Hoàng Khang</span>
    <h3 class="contacts-title">Địa chỉ</h3>
    <span class="contacts-info">188 Đường Số 1, Phường 16, Quận Gò Vấp, TP. Hồ Chí Minh, Việt Nam</span>
    <h3 class="contacts-title">Mã số thuế</h3>
    <span class="contacts-info">0306146736</span>
    <h3 class="contacts-title">Đơn vị chủ quản</h3>
    <h3 class="contacts-title">GPĐKKD</h3>
    <span class="contacts-info">GPĐKKD số 0306146736 do Sở KH&ĐT TPHCM cấp lần đầu ngày 06/08/2008</span>
</div>