<h3 class="title-of-section">THÔNG TIN LIÊN HỆ</h3>
<div class="contacts">
    <h3 class="contacts-title">Điện thoại</h3>
    <span class="contacts-info">(028) 3984 7690</span>
    <h3 class="contacts-title">Hotline</h3>
    <span class="contacts-info">(028) 2212 9454 (hành chính)</span>
    <h3 class="contacts-title">Fax</h3>
    <span class="contacts-info">(028) 3984 7691</span>
    <h3 class="contacts-title">Email</h3>
    <span class="contacts-info"><%= mail_to 'kinhdoanh@hoangkhang.com.vn', 'kinhdoanh@hoangkhang.com.vn', title: '' %></span>
    <h3 class="contacts-title">Giờ làm việc</h3>
    <span class="contacts-info">
        Thứ 2 ~ Thứ 6: 7h30 - 17h00<br>
        Thứ 7: 7h30 - 12h00<br>
        Chủ nhật, Ngày lễ: Không làm việc
    </span>
</div>