<div class="container">
    <div class="copyright-right">                
        &copy; Copyright 2017<span> Hoang Khang Incotech</span>. All Rights Reserved.
    </div>
    <div class="socials">
        <a href="" class="social facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="" class="social google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="" class="social youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
</div>