<div class="container">
    <div class="copyright-right">                
        &copy; Copyright 2017<span> Hoang Khang Incotech</span>. All Rights Reserved.
    </div>
    <div class="socials">
        <a href="https://www.facebook.com/TimHangCongNghe/" class="social facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/u/4/104468622899810766789" class="social google-plus" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
        <a href="https://www.youtube.com/channel/UC1_KyGKwBDeUpmWsbtrsdcg" class="social youtube" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
</div>