<div class="links">
    <h3 class="title-of-section">CHĂM SÓC KHÁCH HÀNG</h3>
    <ul>
        <li><a href="">Hướng dẫn mua hàng</a></li>
        <li><a href="">Hướng dẫn thanh toán</a></li>
        <li><a href="">Chính sách vận chuyển, giao nhận</a></li>
        <li><a href="">Chính sách bảo hành</a></li>
        <li><a href="">Chính sách đổi trả hàng và hoàn tiền</a></li>
        <li><a href="">Quy định bảo mật thông tin</a></li>
    </ul>
</div>