<div class="links">
    <h3 class="title-of-section">THÔNG TIN WEBSITE</h3>
    <ul>
        <li><%= link_to 'Về chúng tôi', about_us_path, title: 'Về chúng tôi' %></li>
        <li><%= link_to 'Góp ý & Liên hệ', contact_path, title: 'Góp ý & Liên hệ' %></li>
        <li><%= link_to 'Tin tức công nghệ', blog_listing_path, title: 'Tin tức công nghệ' %></li>
        <li><a href="">Quy chế hoạt động trang TMĐT</a></li>
        <li><a href="">Các điều khoản & Điều kiện</a></li>
        <li><a href="">Câu hỏi thường gặp</a></li>
    </ul>
</div>