<!-- Footer -->
<div class="footer text-muted">
    Bản quyền &copy; 2016 thuộc về <%= link_to "Hoàng Khang Incotech", root_path %><br/>
    Thiết kế bởi Hoàng Khang Incotech
</div>
<!-- /footer -->