<%= will_paginate products, previous_label: 'Trang trước', next_label: 'Trang sau', renderer: BootstrapPagination::Rails %>
<span class="show-resuilt"><%= page_entries_info products %> sản phẩm.</span>